html {font-size: 10px; /* tamanho da fonte */
 fonf-family: "PT Sans Narrow", sans-serif; /* nome da fonte */
}
h1 {
 font-size: 60px;
 text-align: center;
}
p, li {
 font-size: 16px;
 line-height: 2;
 letter-spacing: 1px;
}
html {
 background-color: #242363;
}
body {
 width: 600px;
 margin: 0 auto;
 background-color: #676778;
 padding: 0 20px 20px 2-px;
 border: 5px solid black;
}
h1 {
 margin: 0;
 padding: 20px 0;
color: #242363;
text-shadow: wpx 3px 1px black;
}
img { 
 display: block;
 margin: 0 auto;
width: 400px;
}